.intro{
    width: 100%;
    display: flex;
    height: 100vh;
}

.intro-left {
    position: absolute;
    top:0%;
    width: 70%;
    left: 0%;
    height: 100vh;
    background-color: white;
}

.left-text{
    position: absolute;
    width: 640px;
    height: 128px;
    left: 196px;
    top: 180px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 100px;
    line-height: 101px;
}

.left-text-name{
    position: absolute;
    width: 640px;
    height: 110px;
    left: 175px;
    top: 300px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 800;
    font-size: 100px;
    line-height: 101px;
    overflow:hidden;
    color: #000000;
}

.right-header{
    position: absolute;
    width: 30%;
    height: 100vh;
    left: 70%;
    top: 0%;
    background: #A8D0E6;
}


.box{
    position: absolute;
    justify-content: left;
    width: 750px;
    height: 80px;
    left: 120px;
    top: 450px;
    z-index: 1;
}

.box-text {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    padding: 0.5rem;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #434343;
}
.box p {
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-align: center;
    overflow:hidden;
    padding: 0.5rem;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #434343;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100vh;
}

.hover-btn-1 {
    border-radius: 20px;
    background-color: #E5E5E5;
    border: none;
    color: black;
    font-family: 'Inter' 'sans serif';
    text-align: center;
    font-size: 50px;
    padding: 16px;
    position: absolute;
    width: 416px;
    height: 120px;
    filter: drop-shadow(10px 10px 51px rgba(0, 0, 0, 0.25));
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
.hover-btn-1{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
.hover-btn-1:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 18px;
    right: -20px;
    transition: 0.5s;
  }
  
.hover-btn-1:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
.hover-btn-1:hover:after {
    opacity: 1;
    right: 10px;
  }

.socials_btns{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items: center;
    bottom: 10px;
}

.typewriter-static {
    position: absolute;
    width: 600px;
    height: 80px;
    left: 170px;
    top: 420px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #434343;
}

.typewriter-type {
    position: absolute;
    width: 600px;
    height: 80px;
    left: 320px;
    top: 420px;
    font-family: 'Inter';
    font-style: italic;
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    color: #434343;
}


.socials_btns{
    position: absolute;
    width: 600px;
    height: 80px;
    left: 180px;
    top: 600px;
    flex-direction: row;
    justify-content: space-evenly;
}

